@import "tailwindcss";

@theme {
  --breakpoint-3xl: 120rem;
  --color-primary-color: #31393D;
  --color-primary-bg-color: #F0F2F3;
  --color-secondary-color: #33443C;
  --color-border-color: #748790;
}

@font-face {
  font-family: 'outfit';
  src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #31393D;
  --secondary-color: #33443C;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  color: var(--primary-color);
}